body{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: rgb(207, 207, 207);
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    flex: 1;
}

/* header */

/* navigation bar */

nav {
    display: flex;
    align-items: center;
    padding: 15px;
    background-color: rgb(58, 50, 50);
    width: 100vw;
    overflow: auto;
    min-height: 3vh;
}

ul {
    padding: 0;
    margin: 0 0 0 150px;
    list-style:none;
}

.logo{
    cursor: pointer;
    position: absolute;
    width: auto;
    height: 110px;
    left: 1rem;
    top: 0rem;
}

.navitems {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.navitems li {
    list-style: none;
    display: inline-block;
    padding: 0px 20px;
}

.navitems a {
    text-decoration: none;
    font-size: 14px;
    padding: 10px 15px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.navitems li a {
   transition: all 0.5s ease 0s;
}

.navitems li a:hover {
    color: rgb(84, 236, 89);
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;
}

@media only screen and (max-width: 1000px) {
    nav {
        flex-direction: row-reverse;
    }
    .navitems {
        position: absolute;
        right: 0px;
        height: 94vh;
        top: 6vh;
        background-color:  rgb(58, 50, 50);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        z-index: 1;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .navitems li {
        opacity: 0;
    }
    .burger {
        display: block;
        margin-right: 20px;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2 {
    opacity: 0;
}
.toggle .line3 {
    transform: rotate(45deg) translate(-5px,-6px);
}

/* submenus for nav-bar */

.navitems div div ul li{
    width: 150px;
    text-decoration: none;
    font-size: 14px;
    padding: 10px 15px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}

.submenuGeneral {
    display: none;
}

.generalNavitem:hover .submenuGeneral {
    display: block;
    position: absolute;
    background: rgb(58, 50, 50);
    margin-top: 10px;
    margin-left: 10px;
    z-index: 1;
}

.generalNavitem:hover .submenuGeneral ul {
    display: flex;
    flex-direction: column;
    margin: 10px;
}


.submenuProjects {
    display: none;
}

.projectsNavitem:hover .submenuProjects {
    display: block;
    position: absolute;
    background: rgb(58, 50, 50);
    margin-top: 10px;
    margin-left: 10px;
    z-index: 1;
}

.projectsNavitem:hover .submenuProjects ul {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.submenuCountermeasures {
    display: none;
}

.countermeasuresNavitem:hover .submenuCountermeasures {
    display: block;
    position: absolute;
    background: rgb(58, 50, 50);
    margin-top: 10px;
    margin-left: 10px;
    z-index: 1;
}

.countermeasuresNavitem:hover .submenuCountermeasures ul {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

/* submenus for nav-bar end*/

/* language switcher */

  .langswitcher {
      display: flex;
      align-items: center;
  }

  .check {
      position: relative;
      width: 43px;
  }

  .check:before{
        content: '';
        position: absolute;
        width: 40px;
        height: 20px;
        background: #fff;
        border-radius: 20px;
  }
  
  .check:checked:before{
      background: #fff;
  }

  .check:after{
    content: '';
    position: absolute;
    left:0;
    width: 20px;
    height: 20px;
    background: #333;
    border-radius: 20px;
    transition: 0.25s;
    border: 2px solid #fff;
    box-sizing: border-box;
 }

 .check:checked:after{
     left: 20px;
     border: 2px solid #fff;

 }

 .check:checked ~ .intro.text-ger {
     display: none;
 }

 .check:checked ~ .intro.text-en {
     display: block;
 }

 .ger, .en {
    text-decoration: none;
    font-size: 14px;
    padding: 10px 15px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
 }

/* language switcher end */

/* navigation bar end*/

/* header end */

/* main */

/* slidebar */

.slider{
    width: 70%;
    height: 500px;
    overflow: hidden;
    border-radius: 0px 0px 10px 10px;
    border-style: solid;
    border-width: 0px 10px 10px 10px;
    border-color:  rgb(58, 50, 50);
}

.slides{
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 20%;
    transition: 2s;
}

.slide img{
    width: 100%;
    height: 100%; 
}

/* manual slidebar */

.navigation-manual{
    position: absolute;
    width: 70%;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background: rgb(55, 245, 55);
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -20%;
}

#radio3:checked ~ .first{
    margin-left: -40%;
}

#radio4:checked ~ .first{
    margin-left: -60%;
}

#radio5:checked ~ .first{
    margin-left: -80%;
}

/* slidebar automatic */

.navigation-auto{
    position: absolute;
    display: flex;
    width: 70%;
    justify-content: center;
    margin-top: 460px;
}

.navigation-auto div{
    border: 2px solid rgb(55, 245, 55);
    padding: 5px;
    transition: 1s;
    border-radius: 10px;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background:rgb(55, 245, 55);
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background:rgb(55, 245, 55);
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background:rgb(55, 245, 55);
}

#radio4:checked ~ .navigation-auto .auto-btn4{
    background:rgb(55, 245, 55);
}

#radio5:checked ~ .navigation-auto .auto-btn5{
    background:rgb(55, 245, 55);
}

/* slidebar end*/

/* intro text */

.intro {
    display: none;
}

.intro.text-ger{
    display: block;
}

.intro.text-en {
    margin-top: 60px;
    width: 70%;
    background-color: rgb(58, 50, 50);
    color: white;
    border-radius:10px 10px 10px 10px;
    padding: 10px; 
    margin-bottom: 60px; 
}

.intro.text-ger {
    margin-top: 60px;
    width: 70%;
    background-color: rgb(58, 50, 50);
    color: white;
    border-radius:10px 10px 10px 10px;
    padding: 10px; 
    margin-bottom: 60px; 
}

.intro-text p {
    font-size: 20px;
    
}

/* intro text end */


/* jqvmap */

.jqvmap-label
{
	position: absolute;
	display: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #292929;
	color: white;
	font-family: sans-serif, Verdana;
	font-size: smaller;
	padding: 3px;
}

.jqvmap-zoomin, .jqvmap-zoomout
{
	position: absolute;
	left: 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #000000;
	padding: 3px;
	color: white;
	width: 10px;
	height: 10px;
	cursor: pointer;
	line-height: 10px;
	text-align: center;
}

.jqvmap-zoomin
{
	top: 10px;
}

.jqvmap-zoomout
{
	top: 30px;
}

.jqvmap-region
{
  cursor: pointer;
}

#vmap {
    width: 70%;
    height: 805px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* map pins */

.map-pin {
    width: 64px;
    height: 50px;
    position: absolute;
    top: -25px;
    left: -32px;
    background-size: 32px 32px;
    background-repeat: no-repeat;
    text-align: center;
    background-position: top center;
    color: #888;
    font-weight: 500;
    font-size: 14px;
  }

  .map-pin span {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    left: 0;
  }

  .green {
    background-image: url('images/green.png');
  }

  .jqvmap-pin {
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
    cursor: default;
  }

  #jqvmap1_fl_pin {
    margin-left: 5%;
  }
/* map pins end */

/* jqvmap end */

/* main end */

/* footer */

footer{
    display: flex;
    padding: 10px;
    background-color: rgb(58, 50, 50);
    color:white;
    margin-top: auto;
    justify-content: center;
    width: 100%;
}

/* footer end*/





