body{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: rgb(207, 207, 207);
    overflow-x: hidden;
}

/* header */

/* navigation bar */


*{
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.bg-img {
    background: url(./images/wald-bg.jpg) 0 0 no-repeat fixed;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 100vh;
    overflow: hidden;
    color: #FFFFFF;
}

.nav-container {
    position: absolute;
    width: 100%;
    z-index: 3;
}

.overlay {
    background: linear-gradient(to top, rgba(80, 207, 137, 0.466), rgba(16, 116, 33, 0.5));
    overflow: hidden;
    height: 100%;
    z-index: 2;
}

nav{
    background: transparent;
}
nav:after{
    content: '';
    clear: both;
    display: table;
}
nav .logo-div a{
    float: left;
    color: white;
    font-size: 27px;
    font-weight: 600;
    line-height: 70px;
    padding-left: 60px;
    text-decoration: none;
    
}
.logo-div{
    float: left;
    height: 70px;
}
.logo {
    position: absolute;
    height: 110px;
    z-index: 3;
}
nav ul{
    float: right;
    margin-right: 40px;
    list-style: none;
    position: relative;
}
nav ul li{
    display: inline-block;
    background: transparent;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    line-height: 70px;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 15px;
}
nav ul li a:hover{
    color: rgb(84, 236, 89);
}
nav ul ul li a:hover{
    box-shadow: none;
}
nav ul ul{
    position: absolute;
    top: 90px;
    border-top: 3px solid rgb(84, 236, 89);
    opacity: 0;
    visibility: hidden;
    transition: top .3s;
}
nav ul ul ul{
    border-top: none;
}
nav ul li:hover > ul{
    top: 70px;
    opacity: 1;
    visibility: visible;
}
nav ul ul li{
    position: relative;
    margin: 0px;
    width: 188px;
    float: none;
    display: list-item;
    border-bottom: 1px solid rgba(0,0,0,0.3);
}
nav ul ul li a{
    line-height: 50px;
}
nav ul ul ul li{
    position: relative;
    top: -60px;
    left: 150px;
}
.show,.icon,input{
    display: none;
}
.fa-plus{
    font-size: 15px;
    margin-left: 40px;
}
@media all and (max-width: 1000px) {
    nav ul{
      margin-right: 0px;
      float: left;
    }
    nav .logo-div{
      padding-left: 30px;
      width: 100%;
    }
    .show + a, ul{
      display: none;
    }
    nav ul li,nav ul ul li{
      display: block;
      width: 100%;
    }
    nav ul li a:hover{
      box-shadow: none;
    }
    .show{
      display: block;
      color: white;
      font-size: 18px;
      padding: 0 20px;
      line-height: 70px;
      cursor: pointer;
    }
    .show:hover{
      color: rgb(84, 236, 89);
    }
    .icon{
      display: block;
      color: white;
      position: absolute;
      top: 0;
      right: 40px;
      line-height: 70px;
      cursor: pointer;
      font-size: 25px;
    }
    nav ul ul{
      top: 70px;
      border-top: 0px;
      float: none;
      position: static;
      display: none;
      opacity: 1;
      visibility: visible;
    }
    nav ul ul a{
      padding-left: 40px;
    }
    nav ul ul ul a{
      padding-left: 80px;
    }
    nav ul ul ul li{
      position: static;
    }
    [id^=btn]:checked + ul{
      display: block;
    }
    nav ul ul li{
      border-bottom: 0px;
    }
    span.cancel:before{
      content: '\f00d';
    }
}

/* language switcher

.langswitcher {
    display: flex;
    align-items: center;
}

.check {
    position: relative;
    width: 43px;
}

.check:before{
    content: '';
    position: absolute;
    width: 40px;
    height: 20px;
    background: #fff;
    border-radius: 20px;
}
  
.check:checked:before{
    background: #fff;
}

.check:after{
    content: '';
    position: absolute;
    left:0;
    width: 20px;
    height: 20px;
    background: #333;
    border-radius: 20px;
    transition: 0.25s;
    border: 2px solid #fff;
    box-sizing: border-box;
}

.check:checked:after{
    left: 20px;
    border: 2px solid #fff;

}

.check:checked ~ .intro.text-ger {
    display: none;
}

.check:checked ~ .intro.text-en {
    display: block;
}

.ger, .en {
    text-decoration: none;
    font-size: 14px;
    padding: 10px 15px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

language switcher end */

/* navigation bar end*/

/* header end */

/* main */

/* map */

#map {
    width: 100%;
    height: 850px;
}

/* main end */

/* footer */

footer{
    display: flex;
    padding: 10px;
    background-color: rgb(58, 50, 50);
    color:white;
    margin-top: auto;
    justify-content: center;
    width: 100%;
}

/* footer end*/





